.hero-slider {
	position: relative;
	width: 100%;
	padding: 0;
	margin: 0;
	.hero-slider--main-slider {
		padding: 0;
		margin: 0;
		@include mobile{
			.slick-arrow {
				display: none !important;
			}
		}

		.slider--item {
			display: block;
			text-align: center;
			background-size: cover;
			background-position: center center;
			position: relative;
			min-height: em(500);
			@include desktop {
				height: 100vh;
				min-height: em(700);
			}
			.caption-slider {
				display: block;
				color: $white;
				width: 90%;
				max-width: em(650);
				margin: em(200) auto 0;
				border: em(2) solid $yellow;
				@include desktop {
					margin: em(120) auto 0;
					position: absolute;
					bottom: 20%;
					left: 50%;
					transform: translateX(-50%);
				}
				h3 {
					display: inline-block;
					color: $white;
					font-size: em(28);
					font-family: $bold;
					letter-spacing: 5px;
					text-align: center;
					padding: 20px 0 10px;
					@include desktop {
						padding: 40px;
						font-size: em(58);
					}
				}
				p {
					letter-spacing: 4px;
					font-size: em(20);
					font-family: $light;
				}
			}
		}
	}
}