.hero-slider {
	position: relative;
	width: 100%;
	.hero-slider--main-slider {
		padding: 0;
		.slider--item {
			display: block;
			text-align: center;
			background-size: cover;
			background-position: center center;
			@include desktop {
				height: 100vh;
				min-height: em(700);
			}
			h3 {
				display: inline-block;
			}
		}
	}
}