body {
	.navbar {
		background-color: transparent;
		transition: all 0.5s;
		margin: 0;
		padding: em(20) 0;
		position: absolute;
		top: 0;
		left: 0;
		whidth: 100%;
		&.affix{
			width: 100%;
			transition: all 0.5s;
			padding: 0;
			.container-fluid {
				#navbar {
					ul {
						&.menu {
							li {
								a {
									padding: em(20) em(32);
									transition: all 0.5s;
								}
							}
						}
					}
				}
			}
		}
		.container-fluid {
			//logo
			.navbar-header {
				@include desktop {
					float: none;
					display: inline-block;
					vertical-align: middle;
				}
				.navbar-brand {
					float: none;
					display: block;
					width: 147px;
					height: 133px;
					background-image: url('../img/logos/logo.png');
					background-size: contain;
					background-repeat: no-repeat;
					text-indent: -9999999px;
					padding: 0;
					margin: 0;
					@include mobile {
						width: 107px;
						height: 93px;
					}
				}
			}
			//menu
			#navbar {
				vertical-align: middle;
				width: 100%;
				@include tablet {
					display: inline-block !important;
					width: 100%;
					text-align: left;
				}
				@include desktop {
					display: inline-block !important;
					width: 54%;
					text-align: center;
				}
				ul {
					&.menu {
						padding: 0;
						margin: 0;
						list-style: none;
						@include tablet {
							display: inline-block;
							vertical-align: middle;
						}
						@include desktop {
							display: inline-block;
							vertical-align: middle;
							text-align: right;
						}
						li {
							@include desktop {
								display: inline-block;
								vertical-align: top;
							}
							@include tablet {
								display: inline-block;
								vertical-align: middle;
							}
							a {
								display: block;
								color: $white;
								font-size: em(13);
								text-align: center;
								padding: em(10) em(12);
								transition: all 0.3s;
								text-transform: uppercase;
								&:hover {
									background-color: $black;
									color: $white;
									border-color: $red;
								}
								@include tablet {
									padding: em(10);
								}
								@include mobile {
									padding: em(12);
								}
							}
						}
					}
				}
			}
		}
	}
}